<atft-renderer-canvas>
  <atft-orthographic-camera [positionX]=0 [positionY]=0 [positionZ]="100" [zoom]="4">
  </atft-orthographic-camera>
  <!-- Background -->
  <atft-scene name="backgroundScene" background="#fafafa">
    <atft-effect-composer [renderToScreen]="false" [sceneBackgroundTarget]="mainScene">
      <atft-blur></atft-blur>
    </atft-effect-composer>
    <atft-loader-actor materialColor="#F0F0F0"></atft-loader-actor>
  </atft-scene>
  <!-- Foreground -->
  <atft-scene name="scene" #mainScene atft-stats-auto-show>
  </atft-scene>
</atft-renderer-canvas>

<mat-grid-list cols="1" rowHeight="100%" class="grid">
  <mat-grid-tile>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Vect application is serverless.
          Your diagrams will be stored on personal Google drive (several YAML files under /Vect folder).
          Please login to your account and permit access to Google Drive to continue.
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button [disabled]="!authService.allowToSignIn" mat-raised-button #btnFocus=matButton
                [autofocus]="btnFocus.focus()" (click)="handleAuthClick()">Google Login</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
