<h1 mat-dialog-title>About Diagram Syntax</h1>
<div mat-dialog-content>
  <mat-tab-group>
    <!-- ******************************************************************** -->
    <mat-tab label="Basics">
      <p>Diagram syntax is in <a href="https://en.wikipedia.org/wiki/YAML" target="_blank">YAML</a></p>
      <p>Data structure:</p>
      <ul>
        <li><b>nodes</b> is array of Node:
          <ul>
            <li><b>name</b>: graph node identifier (could be referenced in edges from/to)</li>
            <li><b>label</b>: business name of the node</li>
            <li><b>type</b>: (default: stand) possible values: stand | compact | barrel | user | workstation. Will be enhanced.</li>
            <li><b>icon</b>: Icon namespace and name. Separated by semicolon. The following icon namespaces are supported by default:</li>
            <ul>
              <li><b>md</b>: (Default) <a href="https://material.io/resources/icons" target="_blank">Material Icon</a>. For example: "alarm_on" or "md:alarm_on"</li>
              <li><b>az</b>: <a href="https://github.com/makimenko/files/tree/master/azure-icons" target="_blank">Azure Icons</a>. For example: "az:App-Services"</li>
              <li><b>aws</b>: <a href="https://github.com/makimenko/files/tree/master/aws-icons" target="_blank">AWS Icons</a>. For example: "aws:Elastic-Container-Kubernetes"</li>
              <li><b>g</b>: <a href="https://github.com/makimenko/files/tree/master/google-cloud-icons" target="_blank">Google Cloud Icons</a>. For example: "g:App-Engine"</li>
              <li><b>a</b>: Project assets folder "assets/svg". For example: "a:sitemap-solid"</li>
            </ul>
            <li><b>composition</b>: if node belongs to composition (parent), then provide name of composition</li>
          </ul>
        </li>

        <li><b>compositions</b> is array of Composition:
          <ul>
            <li><b>name</b>: composition identifier (could be referenced from Node and Composition)</li>
            <li><b>label</b>: business name of the composition (eg Data Access Layer)</li>
            <li><b>border</b>: (default: plane) possible values: plane | frame. Will be enhanced.</li>
            <li><b>composition</b>: if composition is embedded into parent composition, then provide name of parent
              composition
            </li>
          </ul>
        </li>

        <li><b>edges</b> is array of Edge:
          <ul>
            <li><b>from</b>: name of Node (start of the connection)</li>
            <li><b>to</b>: name of Node (end of the connection)</li>
            <li><b>name</b>: identifier of edge. Very optional.</li>
            <li><b>label</b>: business label, which describes meaning of connection</li>
            <li><b>type</b>: line type: association | message | line | sequence </li>
            <li><b>color</b>: color hex number. For example: 0xff0000 is red</li>

          </ul>
        </li>

      </ul>
    </mat-tab>

    <!-- ******************************************************************** -->
    <mat-tab label="Shotcuts">
      <p>Shortcuts</p>
      <ul>
        <li><b>Ctrl+Enter</b>: Save diagram source and draw diagram</li>
        <li><b>Ctrl+E</b>: Show/hide diagram editor</li>
        <li><b>Ctrl+R</b>: Reset camera position and zoom level</li>
        <li><b>F1</b>: Help</li>
      </ul>
    </mat-tab>

    <!-- ******************************************************************** -->
    <mat-tab label="Examples">
      <p>If you want to create diagram with sample source, then please select template in a new diagram dialog.</p>

      <mat-tab-group>
        <mat-tab *ngFor="let template of templates" [label]="template.name">
          <ng-template matTabContent>
            <pre>{{templateService.getTemplate(template.id).diagramSource}}</pre>
          </ng-template>
        </mat-tab>
      </mat-tab-group>

    </mat-tab>
  </mat-tab-group>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</div>
