<form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxFlex>

  <mat-form-field class="source" color="primary" [@diagramStatus]="diagramStatus">
    <mat-label>Diagram source code</mat-label>
    <textarea matInput cdkTextareaAutosize formControlName="diagramSource" [readonly]="!initialized" spellcheck="false">
    </textarea>
  </mat-form-field>
  <mat-error matSuffix *ngIf="!diagramStatus">Error in diagram code</mat-error>
  <button #submitButton mat-raised-button type="submit"
          [disabled]="!form.valid || saveInProgress || !initialized || !form.dirty"
          color="primary" matTooltip="Save and redraw diagram (Ctrl+Enter)">Save
    <mat-hint>Ctrl+Enter</mat-hint>
    <mat-progress-bar *ngIf="saveInProgress" mode="buffer"></mat-progress-bar>
  </button>

  <button #helpButton class="help" mat-icon-button aria-label="Edit"
          (click)="showHelp()" type="button" matTooltip="Help (F1)">
    <mat-icon>help_outline</mat-icon>
  </button>

</form>

