//@import '../../../custom-theme.scss';
.container {
  width: 100%;
  height: 100%;
}

.mat-drawer {
  width: 500px;
}



mat-drawer-content {
  //TODO: background-color: mat-color($vect-primary, 0.5);
}

.progress {
  height: 10px;
}
