:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  height: 100%;
}

.mat-form-field {
  width: 100%;
}

.logo {
  font-size: xxx-large;
  margin-bottom: 70px;
}

.actions {
  width:100%;
}

button {
  width: 100%;
}
