@import '../../../../node_modules/@angular/material/theming';

mat-card {
  text-align: center;
}

Åmat-card:hover {
  @include mat-elevation(15);
}

mat-card-content {
  padding: 15px;
}

mat-card > img {
  max-width: 100px;
  //max-height:50%;
}
