@use '@angular/material' as mat;
@import '../../../custom-theme.scss';

mat-card {
  text-align: center;
  @include mat.elevation(4);
  height: 250px;
  padding: 20px;
  cursor: pointer;
}

mat-card:hover {
  @include mat.elevation(20);

  mat-card-header {
    button {
      visibility: visible;
    }
  }

}


mat-card:active {
  @include mat.elevation(1);
}


mat-card-title {
  white-space: nowrap;
}

mat-card-header {
  overflow: hidden;
  width: 100%;
}

.description {
  overflow: hidden;
  padding: 5px;
  font-size: small;
}


mat-card-content {
  padding-top: 10px;
  width: 100%;
  background: mat.get-color-from-palette($vect-primary, A200, 0.0);;
}

.mat-mdc-card-header {
  padding: 0;
}

.delete {
  visibility: hidden;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.delete:hover {
  @include mat.elevation(5);
}
