<mat-card fxLayout="column" fxLayoutAlign="space-around center">
  <mat-card-header fxFlex="10">
    <mat-card-title>{{item.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content fxFlex="30"  fxLayout="column">
    <img [src]="item.image" fxFill>
    <p class="description" fxFill>{{item.description}}</p>
  </mat-card-content>
  <mat-card-actions fxFlex="10">
    <button mat-button routerLink="/editor/{{item.id}}">OPEN</button>
    <button mat-button (click)="doDelete(item.id)">DELETE</button>
  </mat-card-actions>
</mat-card>
