// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$vect-primary: mat.define-palette(mat.$grey-palette);
$vect-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$vect-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$vect-theme: mat.define-dark-theme((
  color: (
    primary: $vect-primary,
    accent: $vect-accent,
    warn: $vect-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($vect-theme);


::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  overflow-y: scroll;
  background: mat.get-color-from-palette($vect-primary, 500, 0.1);
  box-shadow: inset 0 0 4px #707070;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px mat.get-color-from-palette($vect-primary, 500, 0.2);;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: mat.get-color-from-palette($vect-primary, 500, 0.5);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: mat.get-color-from-palette($vect-primary);
}
