<atft-map-controls #controls rotateSpeed=0 zoomSpeed=1.2 [dampingFactor]="0.1" [enableDamping]="true" [autoRotate]="false">
  <atft-renderer-canvas>
    <atft-orthographic-camera [positionX]=positionX [positionY]=-50 [positionZ]="100" [zoom]="6" [zAxisUp]="true">
    </atft-orthographic-camera>

    <atft-scene name="scene" background="0xa0a0a0">
      <atft-plane-mesh name="ground" height="2000" width="2000" materialColor="0x999999" [depthWrite]="true"
                       [castShadow]="false"
                       material="phong" [receiveShadow]="false" heightSegments=1 widthSegments="1" translateZ="-0.1">
      </atft-plane-mesh>

      <atft-hemisphere-light name="hemi-light" skyColor="0xffffff" groundColor="0xffffff" intensity="0.4"
                             translateX="-20" translateY="-20" translateZ="100">
      </atft-hemisphere-light>

      <atft-point-light name="point-light" intensity="0.8"
                        translateX="-100" translateY="-100" s translateZ="200" [castShadow]="true">
      </atft-point-light>

      <atft-dagre-layout>
        <atft-dagre-yaml-parser [yaml]="yaml"></atft-dagre-yaml-parser>
      </atft-dagre-layout>
    </atft-scene>

  </atft-renderer-canvas>
</atft-map-controls>

<button class="btn top-left" mat-icon-button aria-label="Edit" (click)="editorToggle.emit()">
  <mat-icon>create</mat-icon>
</button>

<button class="btn bottom-left" mat-icon-button aria-label="Center" (click)="center()">
  <mat-icon>center_focus_strong</mat-icon>
</button>
