:host {
  flex: 1 0 auto;
}

.btn {
  z-index: 3;
  position: absolute;
}

.editor {
  top: 5px;
  left: 5px;
}

.center {
  bottom: 5px;
  left: 5px;
}

.screenshot {
  bottom: 30px;
  left: 5px;
}

.align {
  bottom: 5px;
  left: 75px;
}

.rankdir {
  bottom: 5px;
  left: 105px;
}

.ranker {
  bottom: 5px;
  left: 135px;
}
